.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background-color: var( --main-bg-color );
}

.user-email-style{
    font-size: 12px !important;
    margin: 0px  !important;;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var( --main-bg-color );
  font-size: 14px;
}

.spacer{
  flex: 1 1 auto;
}

.mat-toolbar a {
  display: inline-block;
  margin: 0 10px;
  color: var(--main-txt-color);
  text-decoration: none;
}

.hidden{
  display: none;
}

a.active {
  text-decoration: underline !important;
}

// @media (min-width: 600px){
//   .sidenav {
//     display: none;
//   }
// }
