<form class="example-form card-register card-style" (ngSubmit)="onSignUp(f)" #f="ngForm">

  <p class="card-description">Sign Up</p>
  <hr>
  <mat-card class="example-card ">

    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input matInput id="email" name="email" type="email" ngModel>
      <mat-icon matSuffix>mail</mat-icon>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input matInput id="password" name="password" type="password" ngModel>
        <mat-icon matSuffix>lock</mat-icon>
      </mat-form-field>

      <button mat-raised-button type="submit" color="primary">Sign Up</button>

  </mat-card>
</form>