
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

:root {
    --main-bg-color: #579767;
    --main-bg-color-light: #67b97a;
    --main-bg-color-superlight: #d9f9e1; 
    --secondary-bg-color:white ;
    --main-txt-color: white; 
    --secondary-txt-color: black; 
    --danger-color: #a22a35;
  }

@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white, 50%)) {
    ::-webkit-scrollbar {
        width:  $size;
        height: $size;
    }
  
    ::-webkit-scrollbar-thumb {
        background: $foreground-color;
    }
  
    ::-webkit-scrollbar-track {
        background: $background-color;
    }
  
    // For Internet Explorer
    body {
      scrollbar-face-color: $foreground-color;
      scrollbar-track-color: $background-color;
    }
  }

  @include scrollbars(.5em, #7ddb94 );
/* You can add global styles to this file, and also import other style files */
// html, body { height: 100%; }
body, html{
    height: 100%;
}

body { 
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


.card-style,.two-form{
    margin-top: 2%;;
    padding: 20px;
    position:relative;
    left:50%;
    transform: translate(-50%, 0);
    max-width: 340px;
    box-shadow: 0 8px 16px 0 gray;
    background-color: var( --main-bg-color-light );
    text-align: center;

    p {
      color: var(--main-txt-color );
    }
  }

  button.mat-raised-button, input.mat-raised-button{
    color: var(--main-txt-color);
    background-color: var(--main-bg-color-light) !important;
    width: 200px;
  }

  .example-full-width {
    width: 100%;
  }

  .mat-button-custom.active:hover {
    color: var(--secondary-txt-color);
    background-color: var(--main-bg-color);
  }
  

  hr {
    margin-top: 1rem;
    margin-bottom: 2rem;
    background-color: var( --main-txt-color ) !important;
  }

  mat-form-field .mat-icon {
    color: var(--main-bg-color);
    cursor: pointer;
    margin-top: auto;
  }

  .mat-snack-bar-container {
    background-color: var( --danger-color );
    span{
      color: var( --main-txt-color );
    }
  }

