<form class="my-form" (ngSubmit)="onSignIn(f)" #f="ngForm" class="example-form card-register card-style">

  <p class="card-description">LogIn</p>
  <hr>

  <mat-card class="example-card ">
    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input matInput id="email" name="email" type="email" ngModel>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <input matInput id="password" name="password" type="password" ngModel maxlength="25">
      <mat-icon matSuffix>fingerprint</mat-icon>
    </mat-form-field>

    <br>

    <button mat-raised-button type="submit" color="primary">
      <span matPrefix style="margin-right:100px;">Sign In</span>
      <mat-icon>mail_outline</mat-icon>
    </button>

    <hr class="button-divider">

    <button mat-raised-button class="google-button" type="button" (click)="onGoogleLogin()" value="Google"
      style="text-align: left;">
      <span matPrefix style="margin-right: 35px;">Login with Google</span>
      <mat-icon aria-hidden="false" class="icon-google">G</mat-icon>
    </button>

    <button mat-raised-button class="facebook-button mt-2" type="button" (click)="onFacebookLogin()" value="Facebook"
      style="text-align: left;">
      <span matPrefix class="mr-3">Login with Facebook</span>
      <mat-icon aria-hidden="false" class="icon-facebook" matSuffix>thumb_up_alt</mat-icon>
    </button>

  </mat-card>
</form>