.google-button{
   background-color:  rgb(225, 63, 42) !important;
}

.facebook-button {
    background-color:  #3b5998 !important;
}

.icon-facebook {
    margin-top: -5px;
    margin-right: 5px;
}
.icon-google {
    height: 33px !important;
}

.button-divider {
    width: 120px;
    margin: 12px auto 12px auto;
}

.forgot-password {
    color: var( --danger-color);
    text-decoration: underline;
    width: 100%;
    // text-align: left;
    // padding: 0px;
}

// .forgot-password:hover {
// }