<form class="my-form" (ngSubmit)="onSignIn(f)" #f="ngForm" class="example-form card-register card-style">

  <p class="card-description">LogIn</p>
  <hr>

  <mat-card class="example-card ">
    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input matInput id="email" name="email" type="email" ngModel>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <input matInput id="password" name="password" type="password" ngModel maxlength="25">
    </mat-form-field>

    <br>
    <button mat-raised-button type="submit" color="primary">Sign In</button>
    <hr class="button-divider">
    <button mat-raised-button class="google-button" type="button" (click)="onGoogleLogin()" value="Google">
        <mat-icon>Google</mat-icon>
        Login with Google
    </button>
  </mat-card>
</form>