button{
    border-radius: 50%;
}

.mat-form-field{
    max-width: 160px;
    margin-right: 5px;
    margin-left: 5px;
}

.mat-optgroup .mat-option {
    padding-left: 10px;
}


.mat-group {
    height: 25px!important;
    padding: 0 16px!important;
}

.odd{
    background-color:darkgray;
}