<form [formGroup]="expenseForm">
  
  <div class="col">
    <input type="text" class="form-control" formControlName="income">
  </div>

      <div class="container" formArrayName="expenses">
        <div class="row" *ngFor="let ingredientCtrl of expenseForm.get('expenses').controls; let i = index" [formGroupName]="i">

          <div class="col-8 input-style">
            <input type="text" class="form-control" formControlName="name" (blur)="onDeleteEmptyRow(i)">
          </div>

          <div class="col-3 input-style">
            <div class="input-group">
              <div class="input-group">
                <input type="number" class="form-control" aria-label="Amount (to the nearest dollar)"
                  formControlName="amount" (blur)="onDeleteEmptyRow(i)">
                <div class="input-group-append"><span class="input-group-text">$</span></div>
              </div>
            </div>
          </div>

          <div class="col-1 input-style">
            <button type="button" class="btn btn-danger btn-sm button-delete" (click)="onDeleteExpense(i)">X</button>
          </div>
        </div>

      </div>


  <button type="button" class="btn btn-danger btn-primary btn-lg add-button" [disabled]="!expenseForm.valid"  (click)="onAddExpense()">+</button>
</form>