button{
    border-radius: 50%;
}

.odd{
    background-color: var(--main-bg-color-superlight);
}

.ngFor-container{
    max-height: -webkit-calc(100vh - 230px);
    max-height:    -moz-calc(100vh- 230px);
    max-height:         calc(100vh - 230px);
}

.padding{
    padding-top: 12px;
}

.bg-dark{
    background-color: var(--main-bg-color-light) !important;
    color:  var(--main-txt-color) !important;
}


.btn-red {
    background-color: var(--danger-color);
    border-color: var(--danger-color);
    color:   var(--main-txt-color);
}

.btn-delete {
    font-weight: bold;
    font-size: .5rem;
}